.AboutPage .card {
    box-shadow: var(--nav-shadow);
    border-radius:10px;
    padding: 16px;
    box-sizing: border-box;
    background: var(--dark-bg);
    margin: 16px 0;
}
.AboutPage .music-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.AboutPage .content .full-width {
    width: 100%;
}
.AboutPage .photo-container img {
    border-radius: 10px;
    box-shadow: var(--nav-shadow);
    width: 500px;
    margin: 0 16px 16px 0;
}

@media only screen and (max-width: 826px) {
    .AboutPage .right {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .AboutPage .right .SpotifyCard {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .AboutPage .left .card {
        min-height: auto;
    }
    .AboutPage .photo-container img {
        width: 100%;
    }
}