/* -------------- GLOBAL STYLES ---------------- */
:root {
  --primary-accent: #F22C57;
  --dark-bg: #111111;
  --purple-bg: #22031F;
  --grey-bg: #222222;
  --primary-gradient: linear-gradient(124.41deg, #0072B1 0%, #FD36AB 95.2%);
  --standard-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
  --nav-shadow: 0px 4px 15px 0px rgba(196, 130, 235, 0.3);
}
html {
  width: 100vw;
  height: initial;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
  overflow-x: hidden;
  background: var(--grey-bg);
  overscroll-behavior: none; 
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Comfortaa', sans-serif;
  font-size: 17px;
  color: white;
}
h1, h2, h4, h5, h6 {
  font-family: 'Comfortaa', sans-serif;
  text-align: left;
}
h1 {
  color: white;
  font-size: 4.75em;
  padding: 16px 0;
  margin: 0 0;
  letter-spacing: 0px;
  font-weight: 600;
}
h2 {
  font-size: 3.5em;
  font-weight: 600;
  padding: 16px 0;
  margin: 0 0;
  letter-spacing: -0.5px;
  color: white;
}
h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2.75em;
  padding: 16px 0;
  margin: 0 0;
  letter-spacing: 0px;
}
h4 {
  font-size: 2em;
  padding: 8px 0;
  margin: 0 0;
  letter-spacing: 0.25px;
  font-weight: 700;
  color: white;
}
h5 {
  font-size: 1.5em;
  padding: 8px 0;
  margin: 0 0;
  letter-spacing: 0px;
  font-weight: 700;
  color: white;
}
h6 {
  font-size: 1.25em;
  padding: 8px 0;
  margin: 0 0;
  letter-spacing: 0.15px;
  font-weight: 700;
  color: var(--heading-color);
}
p {
  color: var(--detail-grey);
  font-size: 1em;
  width: 100%;
  padding: 8px 0;
  margin: 0 0;
  font-weight: 400px;
  letter-spacing: 0.5px;
}
ul {
  padding-left: 20px;
  margin: 4px 0;
}
li {
  color: var(--detail-grey);
  font-size: 1em;
  width: 100%;
  padding: 0;
  margin: 0 0;
  font-weight: 400px;
  letter-spacing: 0.5px;
}
a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
hr {
  width: 100%;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 50px;
}
.detail-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  width: auto;
  color: var(--heading-color);
  border-left: 2px solid var(--primary-accent);
  padding: 0px 0px 0px 16px;
  margin: 8px 0px 0px;
}
.detail-text {
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.8em;
  color: var(--detail-grey);
}
.button-text {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1.25px;
}
.spacer {
  height: 75px;
}
.icon {
  margin: 0 0 0 0;
  transition: 0.3s ease all;
  height: 24px;
}
.page {
  box-sizing: border-box;
  padding: 64px 128px;
}