/* -------------- GLOBAL STYLES ---------------- */
:root {
  --primary-accent: #FF0096;
  --secondary-accent: #0080C7;
  --dark-bg: #111111;
  --purple-bg: #22031F;
  --grey-bg: #222222;
  --primary-gradient: linear-gradient(124.41deg, #0072B1 0%, #FD36AB 95.2%);
  --standard-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
  --nav-shadow: 0px 4px 15px 0px rgba(196, 130, 235, 0.3);
}
html {
  width: 100vw;
  height: initial;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
  overflow-x: hidden;
  background: var(--grey-bg);
  overscroll-behavior: none; 
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Comfortaa', sans-serif;
  font-size: 17px;
  color: white;
}
h1, h2, h4, h5, h6 {
  font-family: 'Comfortaa', sans-serif;
  text-align: left;
}
h1 {
  color: white;
  font-size: 4.75em;
  padding: 16px 0;
  margin: 0 0;
  letter-spacing: 0px;
  font-weight: 600;
}
h2 {
  font-size: 3.5em;
  font-weight: 600;
  padding: 16px 0;
  margin: 0 0;
  letter-spacing: -0.5px;
  color: white;
}
h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2.75em;
  padding: 16px 0;
  margin: 0 0;
  letter-spacing: 0px;
}
h4 {
  font-size: 2em;
  padding: 8px 0;
  margin: 0 0;
  letter-spacing: 0.25px;
  font-weight: 700;
  color: white;
}
h5 {
  font-size: 1.5em;
  padding: 8px 0;
  margin: 0 0;
  letter-spacing: 0px;
  font-weight: 700;
  color: white;
}
h6 {
  font-size: 1.25em;
  padding: 8px 0;
  margin: 0 0;
  letter-spacing: 0.15px;
  font-weight: 700;
  color: var(--heading-color);
}
p {
  color: var(--detail-grey);
  font-size: 1em;
  width: 100%;
  padding: 8px 0;
  margin: 0 0;
  font-weight: 400px;
  letter-spacing: 0.5px;
}
ul {
  padding-left: 20px;
  margin: 4px 0;
}
li {
  color: var(--detail-grey);
  font-size: 1em;
  width: 100%;
  padding: 0;
  margin: 0 0;
  font-weight: 400px;
  letter-spacing: 0.5px;
}
a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
hr {
  width: 100%;
  border: 3px solid var(--dark-bg);
  margin: 16px 0;
  box-sizing: border-box;
  border-radius: 50px;
}
.detail-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  width: auto;
  color: var(--primary-accent);
  border-left: 2px solid var(--primary-accent);
  padding: 0px 0px 0px 16px;
  margin: 0px 0px 8px 0;
}
.detail-text {
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.8em;
  color: var(--detail-grey);
}
.button-text {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1.25px;
}
.spacer {
  height: 75px;
}
.icon {
  margin: 0 0 0 0;
  transition: 0.3s ease all;
  height: 24px;
}
.page {
  box-sizing: border-box;
  padding: 64px 64px 64px 128px;
}

/* ----- LINK HOVERS ---- */
a{
  width: 100%;
  height: 60px;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease all;
  position: relative;
  overflow: hidden; 
}
a .icon {
  transition: 0.1s ease all;
}
a:hover .icon{
  animation: bounce 0.25s linear 1;
  animation-fill-mode: forwards;
}
/* .Menu a:hover::before {
  opacity: 1;
  transform: scale(50);
} */
a:hover {
  box-shadow: inset var(--nav-shadow);
}
a.disabled-link {
  cursor: not-allowed;
  opacity: 0.15;
}
a.disabled-link:hover .icon {
  animation: bounce 0.5s linear 1;
  animation-fill-mode: forwards;
}


@keyframes bounce {
  0% {
      height: 24px;
  }
  25% {
      height: 40px;
  }
  50% {
      height: 30px;
  }
  75% {
      height: 38px;
  }
  100% {
      height: 35px;
  }
}


/* --- COLUMN WITH TEXT IN BOTH COLUMNS --- */
.two-column {
  color: var(--heading-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
.two-column .title {
  box-sizing: border-box;
  padding: 16px 0 0 0;
  width: 100%;
}
.two-column .content {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.two-column .title h2 {
  color: var(--primary-accent);
  padding: 4px 0;
  box-sizing: border-box;
  text-align: left;
}
.two-column .content .left {
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.two-column .content .right {
  padding: 16px;
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media only screen and (max-width: 1000px) {
    /* --- COLUMN WITH TEXT IN BOTH --- */
    .two-column {
      flex-direction: column;
      width: 100%;
    }
    .two-column .left, .two-column .right {
      width: 100%;
      padding: 0;
    }
}
@media only screen and (max-width: 600px) {
  .page {
    padding: 128px 16px;
  }
  .two-column {
    align-items: flex-start;
  }
  .two-column .title h2 {
    text-align: left;
  }
  .two-column .content {
    flex-direction: column;
    width: 100%;
  }
  .two-column .content .left, .two-column .content .right {
    padding: 8px 0;
    width: 100%;
  }
}