.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: 16px;
    background: var(--purple-bg);
    z-index: 9;
}

@media only screen and (max-width: 600px) {
    .Footer {
        display: none;
    }
}