.AchievementGrid {
    margin: 64px 0 0 0;
    padding: 16px;
    box-sizing: border-box;
    background: var(--primary-gradient);
    border-radius: 10px;
    box-shadow: vaR(--nav-shadow);
}
.AchievementGrid h5 {
    color: white;
}
.AchievementGrid .achievements {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 0 0;
}