.AchievementCard .card-content {
	box-sizing: border-box;
	padding: 16px;
	height: auto;
}
.AchievementCard .technologies {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	height: auto;
}
.AchievementCard .technologies li {
	width: auto;
	padding: 4px 8px;
	background: var(--secondary-accent);
	border-radius: 10px;
	margin: 4px;
	transition: 0.1s ease all;
}
.AchievementCard .technologies li:hover {
	opacity: 0.5;
}
.AchievementCard .links {
	box-sizing: border-box;
	width: 100%;
	background: var(--grey-bg);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	height: 50px;
}
.AchievementCard .links a {
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.AchievementCard .links .icon {
	position: relative;
	top: 0;
}
@media only screen and (max-width: 1080px) {
	.AchievementCard {
		width: calc(50% - 16px);
		max-width: 360px;
	}
}
@media only screen and (max-width: 900px) {
	.AchievementCard {
		width: 100%;
		margin: 16px 0;
		max-width: 1000px;
	}
}
