.ProjectGrid .projects {
    margin: 64px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.active-project {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted grey;
    box-sizing: border-box;
    position: relative;
}
.active-project .active-wrapper {
    width: 100%;
}
.active-project .active-wrapper .ProjectCard {
    width: 100%;
    margin: 0;
    height: 100%;
}
.active-project .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--primary-gradient);
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--nav-shadow);
    transition: 0.2s ease all;
}
.active-project .delete:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .ProjectGrid {
        margin: 0 0;
    }
    .ProjectGrid .projects{
        margin: 16px 0;
    }
    .ProjectGrid .projects .ProjectCard {
        width: 100%;
        margin: 4px 8px 4px 0;
    }
    .ProjectGrid .projects  .ProjectCard .card-content .detail-text {
        display: none;
    }
    .ProjectGrid .projects  .ProjectCard .technologies {
        display: none;
    }
    .ProjectGrid .projects  .ProjectCard .links {
        display: none;
    }
    .active-project .ProjectCard p {
        text-align: left;
    }
    .active-project p {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
    }
}