.ProjectGrid .projects {
    margin: 64px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.active-project {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted grey;
    box-sizing: border-box;
}
.active-project .ProjectCard {
    width: 100%;
    margin: 0;
    height:  100%;
}

@media only screen and (max-width: 600px) {
    .ProjectGrid {
        margin: 0 0;
    }
    .ProjectGrid .ProjectCard {
        width: 100%;
        margin: 16px 0;
    }
}